	<!-- BOOTSTRAP STYLES-->
    <link href="__STATIC__/css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="__STATIC__/css/font-awesome.css" rel="stylesheet" />
     <!-- MORRIS CHART STYLES-->
   <link href="__STATIC__/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
    <link href="__STATIC__/css/custom.css" rel="stylesheet" />
     <!-- GOOGLE FONTS-->

     <!-- TABLE STYLES-->
    <link href="__STATIC__/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />

    <link rel="stylesheet" href="__STATIC__/css/my.css">