<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>文章列表</title>
   {include file="public/authorhead" /}
</head>
<body>
    <div id="wrapper">
      {include file="public/authormenu" /}
           <!-- /. NAV TOP  -->
      {include file="public/authornav" /}
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h2>文章管理——更新文章</h2>                         
                    </div>
                </div>
                 <!-- /. ROW  -->
                <hr />
            <div class="row">
                <div class="col-md-7 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                    <div class="panel panel-default">
                        <form role="form" class="formform"  action="{:url('author/newarticle')}" enctype="multipart/form-data"  method="post" >

                            <table class="articletable table table-hover">
                                {volist name="article" id="vo"}
                                <input type="hidden" name="id" class="form-control" value="{$vo.id}"/>
                                <tr>
                                    <th class="info  titlecenter col-md-2">标题:</th>
                                    <td class="col-md-10"><input type="text" name="title" class="form-control" placeholder="TITLE" required="required" value="{$vo.title}"/></td>
                                </tr>
                                <tr>
                                    <th class="info col-md-2 titlecenter">状态:</th>
                                    <td class="col-md-10 status">
                                      <span class="btn btn-sm" id="success">正常</span>
                                      <span class="btn btn-sm" id="danger">禁用</span>
                                      <input type="hidden" name="status" id="status" value="{$vo.status}">
                                    </td>
                                </tr>
                                <tr>
                                    <th class="info  titlecenter col-md-2" id="uploader-demo">封面图片:</th>
                                    <td class="col-md-10 file">
                                        <input type="file" name="image" /> <br> 
                                    </td>
                                </tr>
                                 <tr>
                                    <th class="info titlecenter">作者:</th>
                                    <td>
                                        <strong class="form-control">{$vo.author.username}</strong>
                                        <input type="hidden" name="author_id" value="{$vo.author.id}">
                                    </td>
                                </tr>
                                <tr>
                                    <th class="info titlecenter">文章类型:</th>
                                    <td>
                                        <select name="category_id" id="category_id"  class="form-control">
                                            <option value="{$vo.category.id}">{$vo.category.categoryname}</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="info titlecenter">文章描述:</th>
                                    <td><input type="text" name="description" class="form-control" placeholder="DESCRIPTION" required="required"  value="{$vo.description}"/></td>
                                </tr>
                                <tr>
                                    <th class="info titlecontent">文章内容:</th>
                                    <td><textarea name="content" id="content" cols="20" rows="3" required="required">{$vo.content}</textarea></td>
                                </tr>
                                {/volist}
                            </table>
                            <input type="submit" class="btn btn-primary" value="更新文章"/>
                        </form>
                    </div>
                </div>        
            </div>     
          </div>   
        </div>
             <!-- /. PAGE INNER  -->
    </div>
         <!-- /. PAGE WRAPPER  -->
     <!-- /. WRAPPER  -->
{include file="public/authorfooter" /}
    <script type="text/javascript" src="__STATIC__/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="__STATIC__/ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript" src="__STATIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript">
    　　UE.getEditor('content',{initialFrameWidth:'100%',initialFrameHeight:200,});
　　</script>
 <script>
      var status=document.getElementById("status").value;
      if(status==1)
      {
        $("#success").addClass("btn-success");
        $("#danger").addClass("btn-default");
      }else if(status==2)
      {
        $("#danger").addClass("btn-danger");
        $("#success").addClass("btn-default");
      }

      $('#success').click(function()
        {
          $(this).removeClass("btn-default").addClass("btn-success");
          $("#danger").removeClass("btn-danger");
          $("#danger").addClass("btn-default");
          $("#status").val(1);
        });
      $('#danger').click(function()
        {
          $(this).removeClass("btn-default").addClass("btn-danger");
          $("#success").removeClass("btn-success");
          $("#success").addClass("btn-default");
          $("#status").val(2);
        });
 
      
   </script>
</body>
</html>
