<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>用户管理</title>
   {include file="public/adminhead" /}
</head>
<body>
    <div id="wrapper">
        {include file="public/adminmenu" /}
           <!-- /. NAV TOP  -->
            {include file="public/adminnav" /}
        </nav> 
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>类别管理</h2>   
                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />
               
            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             Advanced Tables
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                 <table class="category table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>类别</th>
                                            <th>状态</th>
                                            <th>创建时间</th>
                                            <th>更新时间</th>
                                            <th>编辑</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {volist name="category" id="vo" key="key"}
                                        <tr class="odd gradeX">
                                            <td class="titlecenter">{$key}</td>  
                                            <td class="titlecenter">{$vo.categoryname}</td>  
                                            <td class="titlecenter">{eq name="$vo.status" value="1"}<span class="btn btn-success">正常</span>{else/}<span class="btn btn-danger">禁止</span>{/eq}</td>
                                            <td class="titlecenter">{$vo.create_time}</td> 
                                            <td class="titlecenter">{$vo.update_time}</td> 
                                            <td class="titlecenter">
                                                <div class="titleform">
                                                    <a class="btn btn-danger" href="{:url('admin/categorydelete?id='.$vo.id)}">删除</a>
                                                    <form action="{:url('admin/categoryupdate')}" method="post">
                                                        <input type="hidden" name="id" value="{$vo.id}">
                                                        <input type="submit" class="btn updatebtn btn-primary" value="更新">
                                                    </form>
                                                </div>
                                            </td>
                                        </tr>
                                        {/volist}
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
        </div>
               
    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
     <!-- /. WRAPPER  -->
   {include file="public/adminfooter" /}
    
   
</body>
</html>
